name: Preview

on:
    pull_request

concurrency:
    group: ${{ github.ref }}-publish
    cancel-in-progress: false

jobs:
    dns:
        name: DNS
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Publish
              uses: is-cool-me/dnscontrol-action@v4.13.0
              with:
                  args: preview 
                  config_file: "dnsconfig.js"
                  creds_file: "creds.json"
                  apitoken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  email: ${{ secrets.CLOUDFLARE_EMAIL }} 
