name: Publish

on:
    push:
        branches: [main]
        paths:
            - "domains/**"
            - ".github/workflows/publish.yml"
            - "dnsconfig.js"

    workflow_dispatch:

concurrency:
    group: ${{ github.ref }}-publish
    cancel-in-progress: false

jobs:
    dns:
        name: DNS
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Publish
              uses: is-cool-me/dnscontrol-action@v4.11.0
              env:
                  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  CLOUDFLARE_EMAIL: ${{ secrets.CLOUDFLARE_EMAIL }} 
              with:
                  args: push 
                  config_file: "dnsconfig.js"
                  creds_file: "creds.json"
